* {
  padding: 0;
  margin: 0;
}
#body {
  display: flex;
  align-items: stretch;
  height: 100vh;
}
.part-logo {
  flex: 6;
  background: #002412;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 120px 80px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  text-align: center;
}
h1,
h2,
.text-logo {
  margin-top: 10px;
  color: #ffffff;
}
img {
  max-width: 320px;
  align-items: center;
  justify-content: center;
}

.button-logo {
  background: #57c78e;
  width: 200px;
  margin-top: 4em;
  color: #002412;
  padding: 10px;
  text-align: center;
  align-content: space-around;
}

.part-login {
  flex: 8;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login {
  background: #008f46;
  padding: 30px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
input {
  height: 35px;
  border-radius: 8px;
  padding: 0 16px;
  background: #fff;
  border: 1px solid #a8a8b3;
  margin: 10px 10px 10px 10px;
  border: 0;
}

.button-login {
  padding-left: 10px;
}
.regist {
  font-size: 0.9em;
}
